<div class="container" id="p0">
	<button id="p0_click"
			type="button"
			onClick="p0Click()">Click!</button>
	<div class="container" id="generators">
		
		<% for(genNum=0; genNum < 8; genNum++) { %>
			<%- include("../p0generator.ejs"); %>
		<% } %>

	</div>
</div>